@font-face {font-family: "BlackJack"; src: url('../fonts/black_jack.woff') format('woff');}
@font-face {font-family: "ProximaNova-Regular"; src: url('../fonts/Mark Simonson - Proxima Nova Regular.woff') format('woff');}
@font-face {font-family: "ProximaNova-lt"; src: url('../fonts/Proxima Nova Light.woff') format('woff');}
@font-face {font-family: "ProximaNova-Bold"; src: url('../fonts/Proxima Nova Bold.woff') format('woff');}

*{
	margin: 0;
	padding: 0;
}

strong {
	font-family: "ProximaNova-Bold";
}

@media (max-width: 699px) {
.header {
	background: url('../img/header-bg.png') no-repeat top center;
	background-attachment: fixed;
    background-size: cover;
	width: 100%;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.conts {
	width: 100%;
	max-width: none;
	height: 700px
}

.logo {
	display: inline;
}

.header-nav {
	float: right;
	margin-top: 40px;
	padding-right: 15px;
}

.header h1 {
	display: block;
	font-family: "BlackJack";
	font-size: 56px;
	text-align: center;
	clear: right;
	padding-top: 45px;
}

.header p {
	font-family: "ProximaNova-lt";
	font-size: 26px;
	display: block;
	text-align: center;
	margin-top: 60px;
	clear: right;
	padding-left: 15px;
}

.header button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ffffff;
	background-color: #62c2e7;
	padding: 20px 30px;
	border: 2px solid #fff;
	display: block;
	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.header button i {
	padding-left: 15px;
}

.header-device {
	height: 500px;
	float: left;
	margin-left: 80px;
	margin-top: 75px;
	position: relative;
	display: none;
}

.about-me {
	font-family: "ProximaNova-Regular";
	background-color: #f4f4f4;
	position: relative;
	overflow: hidden;
}

.about-me h1 {
	font-size: 35px;
	text-align: center;
	padding-top: 100px;
}

.about-me p {
	font-size: 16px;
	text-align: left;
	display: block;
	padding: 0 15px;
}

.about-me p:first-of-type {
	margin-top: 45px;
	margin-bottom: 40px;
}

.about-device {
	position: absolute;
	top: 157px;
	right: -100px;
	display: none;
}

.about-me button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #14af8f;
	background-color: #f4f4f4;
	padding: 20px 30px;
	border: 2px solid #14af8f;
	margin-top: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-me button i {
	padding-left: 15px;
}

.portfolio {
	font-family: "ProximaNova-Regular";
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
}

.portfolio-text {
	float: right;
}

.portfolio h2 {
	font-family: "ProximaNova-lt";
	font-size: 35px;
	text-align: center;
	padding-top: 115px;
}

.portfolio .conts p {
	font-size: 16px;
	text-align: left;
	display: block;
	line-height: 20px;
	padding: 0 15px;
}

.portfolio .conts p:first-of-type {
	font-family: "ProximaNova-Bold";
	margin-top: 45px;
	margin-bottom: 40px;
}

.portfolio .conts span {
	display: block;
}

.portfolio button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ea4c89;
	background-color: #ffffff;
	padding: 20px 30px;
	border: 2px solid #ea4c89;
	margin-top: 80px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.portfolio button i {
	padding-left: 15px;
}

.portfolio-device {
	position: absolute;
	top: 285px;
	left: -70px;
	display: none;
}

.donate {
	font-family: "ProximaNova-Regular";
	background: url('../img/donate-bg.png') no-repeat top center;
	background-size: cover;
	color: #ffffff;
	height: 325px;
}

.donate .conts {
	text-align: center;
	padding-top: 80px;
}

.donate h1 {
	font-size: 35px;
}

.donate button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ffffff;
	background-color: #13c4af;
	padding: 20px 30px;
	border: 2px solid #ffffff;
	display: block;
	margin: 40px auto 0 auto;

}

.donate button i {
	padding-left: 15px;
}

.contact {
	font-family: "ProximaNova-Regular";
	background-color: #f4f4f4;
	height: 650px;
}

.icons {
	padding-top: 245px;
	margin: 0 auto;
}

.social-1, .social-2, .social-3, .social-4 {
	background: url('../img/social-sprite.png') no-repeat top center;
	height: 56px;
	width: 56px;
	margin: 0 auto 20px auto;
	display: block;
}

.social-1 {
	background-position: 0px;
}

.social-2 {
	background-position: -91px;
}

.social-3 {
	background-position: -182px;
}

.social-4 {
	background-position: -273px;
}

.contact .subscribe {
	margin: 0 auto;
	max-width: 430px;
	padding-top: 65px;
}

.contact p {
	font-family: "ProximaNova-Bold";
	font-size: 16px;
	text-align: center;
	display: block;
	padding-right: 25px;
	width: 100%;
}

#email {
	position: relative;
	width: 100%;
}

#email .fa-envelope {
	color: #6ec5ea;
	position: absolute;
	top: 16px ;
	right: 70px;
}

.contact input {
	font-family: "ProximaNova-Regular";
	font-size: 14px;
	font-style: italic;
	border: none;
	border-radius: 10px;
	background-color: #ffffff;
	color: #d3d3d3;
	padding: 15px;
	display: block;
	margin: 0 auto;
	width: 75%;
}

.footer {
	font-family: "ProximaNova-Regular";
	font-size: 12px;
	background-color: #ffffff;
	height: 100px;
	text-align: center;
	position: relative;
}

.footer p {
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}

.footer a {
	color: #78c9eb;
}

}

@media (min-width: 700px) {
.header {
	background: url('../img/header-bg.png') no-repeat top center;
	background-attachment: fixed;
    background-size: cover;
	height: 650px;
	width: 100%;
	color: #fff;
	overflow: hidden;
	padding-right: 15px;}

.conts {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	max-height: 650px;
}

.logo {
	display: inline;
}

.header-nav {
	float: right;
	margin-top: 40px;
}

.header h1 {
	display: block;
	font-family: "BlackJack";
	font-size: 70px;
	text-align: right;
	clear: right;
	padding-top: 45px;
}

.header p {
	font-family: "ProximaNova-lt";
	font-size: 35px;
	display: block;
	text-align: right;
	margin-top: 60px;
	clear: right;
}

.header button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ffffff;
	background-color: #62c2e7;
	padding: 20px 30px;
	border: 2px solid #fff;
	display: block;
	float: right;
	margin-top: 55px;
}

.header button i {
	padding-left: 15px;
}

.header-device {
	height: 500px;
	float: left;
	margin-left: 80px;
	margin-top: 75px;
	position: relative;
}

.about-me {
	font-family: "ProximaNova-Regular";
	background-color: #f4f4f4;
	height: 650px;
	position: relative;
	overflow: hidden;
}

.about-me h1 {
	font-size: 40px;
	text-align: left;
	padding-top: 145px;
}

.about-me p {
	font-size: 16px;
	width: 58.33%;
	text-align: left;
	display: block;
}

.about-me p:first-of-type {
	margin-top: 45px;
	margin-bottom: 40px;
}

.about-device {
	position: absolute;
	top: 157px;
	right: -100px;
}

.about-me button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #14af8f;
	background-color: #f4f4f4;
	padding: 20px 30px;
	border: 2px solid #14af8f;
	float: left;
	margin-top: 75px;
}

.about-me button i {
	padding-left: 15px;
}

.portfolio {
	font-family: "ProximaNova-Regular";
	background-color: #ffffff;
	height: 650px;
	position: relative;
	overflow: hidden;
}

.portfolio-text {
	float: right;
	width: 41.66%;
}

.portfolio h2 {
	font-family: "ProximaNova-lt";
	font-size: 40px;
	padding-top: 100px;
}

.portfolio .conts p {
	font-size: 16px;
	display: block;
	line-height: 20px;
}

.portfolio .conts p:first-of-type {
	font-family: "ProximaNova-Bold";
	margin-top: 45px;
	margin-bottom: 40px;
}

.portfolio .conts span {
	display: block;
}

.portfolio button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ea4c89;
	background-color: #ffffff;
	padding: 20px 30px;
	border: 2px solid #ea4c89;
	margin-top: 60px;
}

.portfolio button i {
	padding-left: 15px;
}

.portfolio-device {
	position: absolute;
	top: 285px;
	left: -70px;
}

.donate {
	font-family: "ProximaNova-Regular";
	background: url('../img/donate-bg.png') no-repeat top center;
	background-size: cover;
	color: #ffffff;
	height: 325px;
}

.donate .conts {
	text-align: center;
	padding-top: 100px;
}

.donate h1 {
	font-size: 40px;
}

.donate button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ffffff;
	background-color: #13c4af;
	padding: 20px 30px;
	border: 2px solid #ffffff;
	margin-top: 40px;
}

.donate button i {
	padding-left: 15px;
}

.contact {
	font-family: "ProximaNova-Regular";
	background-color: #f4f4f4;
	height: 650px;
}

.icons {
	padding-top: 245px;
	margin: 0 auto;
	max-width: 377px;
}

.social-1, .social-2, .social-3, .social-4 {
	background: url('../img/social-sprite.png') no-repeat top center;
	height: 56px;
	width: 56px;
	margin: 0 auto;
	display: block;
}

.social-1 {
	background-position: 0px;
}

.social-2 {
	background-position: -91px;
}

.social-3 {
	background-position: -182px;
}

.social-4 {
	background-position: -273px;
}

.contact .subscribe {
	margin: 0 auto;
	max-width: 430px;
	padding-top: 65px;
}

.contact p {
	font-family: "ProximaNova-Bold";
	font-size: 16px;
	display: inline-block;
	padding-right: 25px;
}

#email {
	position: relative;
}

#email .fa-envelope {
	color: #6ec5ea;
	position: absolute;
	top: 16px ;
	right: 15px;
}

.contact input {
	font-family: "ProximaNova-Regular";
	font-size: 14px;
	font-style: italic;
	border: none;
	border-radius: 10px;
	background-color: #ffffff;
	color: #d3d3d3;
	padding: 15px;
}

.footer {
	font-family: "ProximaNova-Regular";
	font-size: 12px;
	background-color: #ffffff;
	height: 100px;
	text-align: center;
	position: relative;
}

.footer p {
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}

.footer a {
	color: #78c9eb;
}

}

@media (min-width: 980px) {

.header {
	background: url('../img/header-bg.png') no-repeat top center;
	background-attachment: fixed;
    background-size: cover;
	height: 650px;
	width: 100%;
	color: #fff;
	overflow: hidden;
}

.conts {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	max-height: 650px;
}

.logo {
	display: inline;
}

.header-nav {
	float: right;
	margin-top: 40px;
}

.header h1 {
	display: block;
	font-family: "BlackJack";
	font-size: 70px;
	text-align: right;
	clear: right;
	padding-top: 45px;
}

.header p {
	font-family: "ProximaNova-lt";
	font-size: 35px;
	display: block;
	text-align: right;
	margin-top: 60px;
	clear: right;
}

.header button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ffffff;
	background-color: #62c2e7;
	padding: 20px 30px;
	border: 2px solid #fff;
	display: block;
	float: right;
	margin-top: 55px;
}

.header button i {
	padding-left: 15px;
}

.header-device {
	height: 500px;
	float: left;
	margin-left: 80px;
	margin-top: 75px;
	position: relative;
}

.about-me {
	font-family: "ProximaNova-Regular";
	background-color: #f4f4f4;
	height: 650px;
	position: relative;
	overflow: hidden;
}

.about-me h1 {
	font-size: 40px;
	text-align: left;
	padding-top: 145px;
}

.about-me p {
	font-size: 16px;
	width: 58.33%;
	text-align: left;
	display: block;
}

.about-me p:first-of-type {
	margin-top: 45px;
	margin-bottom: 40px;
}

.about-device {
	position: absolute;
	top: 157px;
	right: -100px;
}

.about-me button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #14af8f;
	background-color: #f4f4f4;
	padding: 20px 30px;
	border: 2px solid #14af8f;
	float: left;
	margin-top: 75px;
}

.about-me button i {
	padding-left: 15px;
}

.portfolio {
	font-family: "ProximaNova-Regular";
	background-color: #ffffff;
	height: 650px;
	position: relative;
	overflow: hidden;
}

.portfolio-text {
	float: right;
	width: 41.66%;
}

.portfolio h2 {
	font-family: "ProximaNova-lt";
	font-size: 40px;
	padding-top: 100px;
}

.portfolio .conts p {
	font-size: 16px;
	display: block;
	line-height: 20px;
}

.portfolio .conts p:first-of-type {
	font-family: "ProximaNova-Bold";
	margin-top: 45px;
	margin-bottom: 40px;
}

.portfolio .conts span {
	display: block;
}

.portfolio button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ea4c89;
	background-color: #ffffff;
	padding: 20px 30px;
	border: 2px solid #ea4c89;
	margin-top: 60px;
}

.portfolio button i {
	padding-left: 15px;
}

.portfolio-device {
	position: absolute;
	top: 285px;
	left: -70px;
}

.donate {
	font-family: "ProximaNova-Regular";
	background: url('../img/donate-bg.png') no-repeat top center;
	background-size: cover;
	color: #ffffff;
	height: 325px;
}

.donate .conts {
	text-align: center;
	padding-top: 100px;
}

.donate h1 {
	font-size: 40px;
}

.donate button {
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	color: #ffffff;
	background-color: #13c4af;
	padding: 20px 30px;
	border: 2px solid #ffffff;
	margin-top: 40px;
}

.donate button i {
	padding-left: 15px;
}

.contact {
	font-family: "ProximaNova-Regular";
	background-color: #f4f4f4;
	height: 650px;
}

.icons {
	padding-top: 245px;
	margin: 0 auto;
	max-width: 377px;
}

.social-1, .social-2, .social-3, .social-4 {
	background: url('../img/social-sprite.png') no-repeat top center;
	height: 56px;
	width: 56px;
	margin: 0 auto;
	display: block;
}

.social-1 {
	background-position: 0px;
}

.social-2 {
	background-position: -91px;
}

.social-3 {
	background-position: -182px;
}

.social-4 {
	background-position: -273px;
}

.contact .subscribe {
	margin: 0 auto;
	max-width: 430px;
	padding-top: 65px;
}

.contact p {
	font-family: "ProximaNova-Bold";
	font-size: 16px;
	display: inline-block;
	padding-right: 25px;
}

#email {
	position: relative;
}

#email .fa-envelope {
	color: #6ec5ea;
	position: absolute;
	top: 16px ;
	right: 15px;
}

.contact input {
	font-family: "ProximaNova-Regular";
	font-size: 14px;
	font-style: italic;
	border: none;
	border-radius: 10px;
	background-color: #ffffff;
	color: #d3d3d3;
	padding: 15px;
}

.footer {
	font-family: "ProximaNova-Regular";
	font-size: 12px;
	background-color: #ffffff;
	height: 100px;
	text-align: center;
	position: relative;
}

.footer p {
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}

.footer a {
	color: #78c9eb;
}

}